<!DOCTYPE html>
<html>
	<head>
		<title>Calculator App</title> 
		<style>
			.container { position:relative; padding:0 0 0 55px; }
			#sidebar {
				float: left;
				top:0; bottom:0; left:0;
				border:1px solid #fff; width:150px; height:140px
			}
			#content { 
				border:1px solid #fff; width:600px;
				background: #fff;
				margin:5px 0 5px 0;
			}
			#footer { 
				border:1px solid #fff; width:600px;
				margin:5px 0 5px 0;
			}
		</style>
	</head>
	<body>
		
		<div class="container" align="center">

			<div id="sidebar" align="sidebar">
				<a href="mailto:alecdavidson@nau.edu">Contact Alec at alecdavidson@nau.edu</a>
				<p>
				<a href="mailto:qck3@nau.edu">Contact Quentin at qck3@nau.edu</a>
				<p>
				<a href="mailto:htw4@nau.edu">Contact Hayden at htw4@nau.edu</a>
				<p>
			</div>
			
			<div id="content" align="center">
				Nothing Yet!
			</div>
			
			<div id="footer" align="center">
				<a href="#top">Back to Top</a>
				<p>
			</div>
			
		</div>
	</body>
</html>
