<!DOCTYPE html>
<html>
	<head>
		<title>Calculator App</title>
		<style>
			.container { position:relative; padding:0 0 0 55px; }
			#sidebar {
				float: left;
				top:0; bottom:0; left:0;
				border:1px solid #fff; width:150px; height:140px
			}
			#content {
				border:1px solid #fff; width:600px;
				background: #fff;
				margin:5px 0 5px 0;
			}
			#footer {
				border:1px solid #fff; width:600px;
				margin:5px 0 5px 0;
			}
		</style>
	</head>
	<body>
        <br><br>
		<div class="container" align="center">

			<div id="sidebar" align="sidebar">
				<a href="mailto:alecdavidson@nau.edu">Contact Alec at alecdavidson@nau.edu</a>
				<p>
				<a href="mailto:qck3@nau.edu">Contact Quentin at qck3@nau.edu</a>
				<p>
				<a href="mailto:htw4@nau.edu">Contact Hayden at htw4@nau.edu</a>
				<p>
			</div>

			<div id="content" align="center">
				What is your equation?
                <br><br>
				<form action="/" method="post">
					<input type="text" name="equation" />
					<button type="submit" name="Randomize">Compute!</button>
					<br>
					<br>
					<br>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<pre>
							{% for message in messages %}
{{message}}
							{% endfor %}
						</pre>
					{% endif %}
				{% endwith %}
				</form>
			</div>
		</div>
	</body>
</html>
